# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.eggs/
.venv/
venv/

# Env & secrets
.env
*.env
*.secret
*.key
*.pem

# Logs & tmp
*.log
*.tmp
*.swp

# IDE/editor
.vscode/
.idea/
*.iml
